.component-5-child {
  position: relative;
  width: 1343px;
  height: 747px;
  z-index: 0;
}
.component-5-item,
.trang-ch {
  position: absolute;
  margin: 0 !important;
}
.component-5-item {
  height: 12.85%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 87.15%;
  left: 0;
  background-color: var(--color-gray-200);
  z-index: 1;
}
.trang-ch {
  height: 4.69%;
  width: 7.82%;
  top: 4.82%;
  left: 54.06%;
  font-weight: 800;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.horrible-face-sculpting-need,
.ti-xung-2 {
  position: absolute;
  margin: 0 !important;
  height: 64.52%;
  width: 42%;
  top: 24.23%;
  right: 49.96%;
  bottom: 11.24%;
  left: 8.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.horrible-face-sculpting-need {
  height: 62.38%;
  width: 23.6%;
  top: 27.98%;
  right: 15.34%;
  bottom: 9.64%;
  left: 61.06%;
  z-index: 4;
}
.component-5 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
